@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Copeland Hall<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    937.409.1398
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">sm126215@ohio.edu</a><br />
   
</address>