@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2">MIS 4200 Demo</h2">
    <p > This is a demo site for MIS 4200</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Intro</h2>
        <p>
            This is an intro to MVC development in Visual Studio.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>This course introduces the Model-View-Controller development pattern.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Git and GitHub</h2>
        <p>This course also introduces git and gitHub</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>